{
    "file-type": "settings", 
    "last-playlist": "default", 
    "last-scene": "demo", 
    "mixer": {
        "preset-duration": 6.0, 
        "tick-rate": 32,
        "transition": "Dissolve", 
        "transition-duration": 2.5,
        "transition-slop": 1.0,
        "onset-holdoff": 0.1,
        "shuffle": false
    }, 
    "networking": {
        "clients": [
            {
                "color-mode": "RGB8",
                "enabled": true,
                "host": "127.0.0.1",
                "port": 3020
            },
            {
                "color-mode": "RGB8",
                "enabled": false,
                "host": "127.0.0.1",
                "port": 3021
            }
        ]
    }
}